/* header */
.header .linkarea{width:100%;height:47px;border-bottom:1px solid #ebebeb;text-align:right;display:none}
.header .linkarea a{position:relative;display:inline-block;height:47px;line-height:47px;padding:0 15px;vertical-align:middle;font-size:13px;color:#888}
.header .linkarea .btn_wtechcenter:before, .header .linkarea .btn_demosite:before{content:"";position:absolute;left:0px;top:18px;height:12px;border-left:1px solid #aaa}
.header .linkarea .btn_allmenu{display:inline-block;height:29px;line-height:29px;padding:0 9px 0 34px;margin-left:5px;margin-right:2.3958%;border:1px solid #cfd5d8;border-radius:2px;color:#737373;background:url(/cm/images/contents/btn_allmenu.png) 11px 7px no-repeat}
.header .linkarea .btn_allmenu:hover{background-color:#ebebeb}
.header .btn_toggle_menu{display:inline-block;position:relative;width:56px;height:50px;font-size:0px;line-height:0px;vertical-align:top}
.header .btn_toggle_menu:after{content:"";position:absolute;left:50%;top:50%;width:20px;height:20px;margin-top:-10px;margin-left:-10px;background:url(/cm/images/contents/btn_toggle_menu.png) center center no-repeat}
.header .btn_toggle_menu:hover:after{animation:btn_toggle_menu 1s forwards}
.header .logo h1{height:100%;color:#fff;font-size:20px;padding:0 0 0 30px;font-weight:400;box-sizing:border-box;background:#20242B url(/cm/images/base/logo.png) no-repeat 30px center;display:flex;width:240px;}

.gnb-wrap {position:relative;width:100%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;padding: 0 12px 0 0;margin-left:22px;}
.gnb{height:100%;display:flex;flex-wrap:nowrap}
.gnb > li{position:relative;display:inline-block;height:100%;vertical-align:top;cursor:pointer;flex:0 0 auto}
.gnb > li > a {position:relative;display:inline-flex;height:100%;font-size:12px;color:#fff;align-items:center;justify-content:center;flex-direction:column;width: 100px;box-sizing:border-box;}
.gnb li:not(:last-child){margin-right:6px}
.gnb > li > a span{font-weight:400;opacity:.6;letter-spacing:0;}
.gnb > li > a h2{display:block;font-size:15px;line-height:140%;}
.gnb > li.on , .gnb > li.hover{color:#fff;background:#005cb9;}
.gnb + .w2input {margin-left:5px;}
.gnb-wrap .form-control{background:transparent;border:1px solid #D8DDE5;width:100px}
.gnb-wrap .form-control .w2selectbox_label{color:#fff;font-weight:400;}
.gnb-wrap .form-control .w2selectbox_col_button{background:url(/cm/images/base/ico_selectarrow_white.png) center no-repeat}

.header .user-support{display: flex;align-items: center;gap: 20px;background:#005cb9;padding: 0 20px;min-width: 310px;flex-direction: row;}
.header .user-btn{gap:12px;display:flex;align-items:center}
.header .user-support .btn.ico {height: 30px;width: 30px;border: 0;background: #1F70C2;background-repeat: no-repeat;background-position: center;border-radius:6px;}
.header .user-support .btn.ico:hover {background-color: #2480DD;}
.header .user-support .btn.notice {background-image: url(/cm/images/base/ico_notice.png);}
.header .user-support .btn.setting {background-image: url(/cm/images/base/ico_setting.png);}
.header .user-support .btn.login {background-image: url(/cm/images/base/ico_login.png);}
.header .user-support .btn.logout {background-image: url(/cm/images/base/ico_logout.png);}
.header .user-support .user-name{color:#fff}
.header .user-support .user-name .text1{font-size:14px;font-weight: 600;}
.header .user-support .user-name .text2{font-weight:400;color: #e9ede9;;font-size: 12px;margin-top:2px;box-sizing: border-box;}
.header .grp_btn_quick {display:flex;align-items:center;flex:none;gap:6px;margin-left:12px}
.header .btn_gnb_quick_debis {border:1px solid #555555;border-radius:4px;padding:6px 12px;color:#FFFFFF;background:#242424}
.header .btn_gnb_quick_debis:hover {border-color:#aaa;background-color:#373737}
.header .btn_gnb_helpdesk {border:1px solid #555555;border-radius:4px;padding:6px 12px;color:#FFFFFF;background:#242424}
.header .btn_gnb_helpdesk:hover {border-color:#aaa;background-color:#373737}

/*treeview*/
.tvwbox {width:100%}
.tvwbox .w2treeview_virtual{height:100%}
.tvw-wrap .tvwbox{flex:1;box-sizing:border-box;overflow:auto;}
.tvw-wrap .title-wrap {margin-bottom:8px;}
.tvw-wrap {display:flex;flex-direction:column;flex:1;padding:14px;border:1px solid var(--dw-gray5);border-radius:var(--dw-rd-2);}
.tvw-wrap .w2treeview_virtual .treeview_icon_navi {background: url(/cm/images/base//btn_arrow_14.png) no-repeat center !important;height: 20px;box-sizing: border-box;background-size: 14px;flex-shrink:0}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node.opened .treeview_icon_navi{transform:rotate(90deg);}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node.treeview_select_nodedom{background-color:transparent;}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_last_sibling:after,
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_leaf:not(.w2tree_depth_1):after{content:'';position:absolute;left:50%;width:4px;height:4px;background:var(--dw-gray3);top:13px;transform:translate(-50%, -50%);border-radius:50%;}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_last_sibling,
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_leaf:not(.w2tree_depth_1){background:none !important;position:relative;}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_guideline {background:none}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node.w2tree_depth_1 {height:26px !important;}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node {height:22px !important;}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_select_node {color: var(--dw-color-blue2);}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_over {color:var(--dw-color-blue2);text-decoration: underline;}
.tvwbox .w2treeview_virtual .treeview_virtual_node.leaf .treeview_select_node, 
.tvwbox .treeview_virtual_node.opened .treeview_label {color:var(--dw-color-blue2);font-weight: 500;}
.tvw-wrap.flex-full .w2treeview_virtual{flex:1}
.w2treeview_virtual .treeview_virtual_node:hover .treeview_label:empty{ border-left: 10px solid #007bff;}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_label.tvw_red {color:#f56271}
.tvw-wrap .w2treeview_virtual .treeview_virtual_node .treeview_label.tvw_gray {color:var(--form-dis-fontcolor)}

/* popup - frame mode */
.f_pop.w2popup_window{overflow:hidden;border:none;}
.f_pop.w2popup_window .w2window_header{height:40px;background:var(--dw-gray46);}
.f_pop.w2popup_window .w2window_header .w2window_header_icon{display:none;}
.f_pop.w2popup_window .w2window_header .w2window_header_title{left:0;padding:0 0 0 16px;height:40px;font-size:14px;line-height:40px;color:var(--dw-white);}
.f_pop.w2popup_window .w2window_body{top:40px;padding:0;background-color:transparent;}
.f_pop.w2popup_window .w2window_body .w2window_content{border:none;}
.f_pop.w2popup_window .w2window_body .w2window_content{top:0;right:0;bottom:0;left:0;border:none;}
.f_pop.w2popup_window .w2window_body .w2window_content .w2window_wframe{display:flex;flex-direction:column;}
.f_pop.w2popup_window .w2window_body .w2window_content .w2window_wframe .c{flex:1;padding:20px;}
.f_pop.w2popup_window .w2window_body .w2window_content .w2window_wframe .btnbox{flex:none;margin-left:auto;text-align:center;}
.f_pop.w2popup_window .w2window_body .w2window_content .w2window_wframe .btnbox .fr{float:none;}
.f_pop.w2popup_window .w2window_close{display:block;left:auto;top:0;right:0;padding:15px;width:10px;height:10px;font-size:0;text-indent:-999px;background:url(/cm/images/base/btn_popclose.png) no-repeat center center;transition:.2s all;border-radius:50%;z-index:10;}
.f_pop.w2popup_window .w2window_close:hover{transform:rotate(360deg);}

@keyframes btn_toggle_menu{100%{transform:rotate(180deg)}}

/* side */
.side{width:240px;border-right:1px solid var(--dw-gray51);overflow:auto;background:var(--dw-white);transition:all 0.8s;min-height:100%;padding:20px;flex-shrink:0;box-sizing:border-box}
.side .w2tabcontrol_contents_wrapper{overflow:hidden;display:flex;flex-direction:column;}
.side .sch-box{margin:12px 0;gap:4px}
.side .sch-box .form-control{height:30px;}
.side .sch-box .form-control:not(.form-control.w2selectbox) {height:30px;}
.side .sch-box .btn{border:0}
.side .form-grp{border:1px solid var(--dw-gray5);border-radius:5px;overflow:hidden;height:30px;align-items:center;padding:0 8px;box-sizing:border-box;}
.side .form-grp .form-control{border:0}
.side .tvwbox{flex:1}
.side .tvwbox .w2treeview_virtual{height:100%}

/* LNB */
.tw_menu{background-color:transparent;}
.tw_menu .w2treeview_group{width:100%;}
.tw_menu .w2treeview_row_depth1 .w2treeview_label{font-size:13px;color:var(--dw-white);font-weight:bold;box-sizing:border-box;display:inline-block;width:100%;padding-left:16px;
	background:var(--dw-gray42)  url(/cm/images/contents/ico_menuopen.png) no-repeat right 10px center;border-radius:5px;border:1px solid var(--dw-gray42);line-height:22px;margin:2px 0;}
.tw_menu .w2treeview_row_depth1 .w2treeview_label.w2treeview_select_node{background:var(--dw-color-green2);border:1px solid var(--dw-color-green2) !important; color:var(--dw-white)}
.tw_menu .w2treeview_root_multi_leaf .w2treeview_col_label .w2treeview_label,
.tw_menu .w2treeview_leaf .w2treeview_col_label .w2treeview_label{background-image:none;}
.tw_menu .w2treeview_row_depth2 .w2treeview_label{font-size:13px;font-weight:bold;}
.tw_menu .w2treeview_row_depth3 .w2treeview_label{font-size:12px;}
.tw_menu .w2treeview_row_depth3 .w2treeview_label.w2treeview_select_node{position:relative;font-weight:600;color:var(--dw-color-green2);}
.tw_menu .w2treeview_row_depth3 .w2treeview_label.w2treeview_select_node:before{content:'';display:inline-block;width:4px;height:4px;vertical-align:middle;background:var(--dw-color-green2);border-radius:100%; position:absolute; top:10px; left:-7px;}
.tw_menu .w2treeview_row_depth1 .w2treeview_col_label{width:100%;}
.tw_menu .w2treeview_row_parent{height:30px;}
.tw_menu .w2treeview_row_parent.w2treeview_row_depth2{height:30px;}
.tw_menu .w2treeview_row_parent.w2treeview_row_depth3{height:25px;}
/* 1depthmenu */
.tw_menu .w2treeview_noguideline.w2treeview_col_depth1{width:30px;}
.tw_menu .w2treeview_open_child .w2treeview_row_depth1 + .w2treeview_row_child{background-color:var(--dw-white)}
.tw_menu .w2treeview_close_child .w2treeview_row_depth1 .w2treeview_col_icon_navi,
.tw_menu .w2treeview_open_child .w2treeview_row_depth1 .w2treeview_col_icon_navi{width:0;padding:0;}
.tw_menu .w2treeview_close_child .w2treeview_row_depth1 .w2treeview_icon_navi{width:30px;background:url(/cm/images/base/ico_acd_down.png) no-repeat 14px 7px;}
.tw_menu .w2treeview_open_child .w2treeview_row_depth1 .w2treeview_icon_navi{width:30px;background:url(/cm/images/base/ico_acd_up.png) no-repeat 14px 7px;}
.tw_menu .w2treeview_root_last_leaf .w2treeview_row_depth1 .w2treeview_icon_navi,
.tw_menu .w2treeview_root_multi_leaf .w2treeview_row_depth1 .w2treeview_icon_navi,
.tw_menu .w2treeview_leaf .w2treeview_row_depth1 .w2treeview_icon_none,
.tw_menu .w2treeview_leaf .w2treeview_row_depth1 .w2treeview_icon_navi{width:26px;height:27px;margin:0 auto;}
/* 2depthmenu */
.tw_menu .w2treeview_open_child .w2treeview_row_depth2 .w2treeview_icon_navi{width:16px;height:16px;background:url(/cm/images/contents/ico_closemenu.png) no-repeat 50% 50%}
.tw_menu .w2treeview_close_child .w2treeview_row_depth2 .w2treeview_icon_navi{width:16px;height:16px;background:url(/cm/images/contents/ico_selectmenu.png) no-repeat 50% 50%}
.tw_menu .w2treeview_row_depth3 .w2treeview_col_icon_navi {width:0}
.tw_menu .w2treeview_child {margin-bottom:8px}

.show_menu .side{left:0px;bottom:0;}
.show_menu .side_r{right:0;bottom:0;}
.show_menu .contents{left:240px;}
.show_menu .dim.on{display:block;}

/* pageTab */
.tabc_layout{position:absolute;left:0;right:0;top:0;bottom:0}
.tabc_layout .w2tabcontrol_control{position:absolute;height:30px;background:var(--dw-gray52);}
.tabc_layout > .w2tabcontrol_control:before{content:'';position:absolute;left:0px;top:0px;z-index:1;width:100%;}
.tabc_layout .w2tabcontrol_control > button{top:25px;width:22px;height:22px;margin-top:-13px;width:28px;height:28px;margin:0;border:1px solid var(--dw-gray53)}
.tabc_layout .w2tabcontrol_control > button:hover{background-color:var(--dw-gray54);}
.tabc_layout .w2tabcontrol_control > div[class*="btn"]{top:0px;width:30px;height:30px;margin-right:0px}
.tabc_layout .w2tabcontrol_control .btn_scrollLeft{right:106px;background:var(--dw-color-green2) url(/cm/images/contents/btn_tab_left.png) center no-repeat}
.tabc_layout .w2tabcontrol_control .btn_scrollRight{right:76px;background:var(--dw-color-green2) url(/cm/images/contents/btn_tab_right.png) center no-repeat}
.tabc_layout .w2tabcontrol_control .btn_submenu{right:16px;background:var(--dw-color-green2) url(/cm/images/contents/btn_tab_list.png) center no-repeat}
.tabc_layout .w2tabcontrol_control.mask{left:20px;right:140px;margin:0px}
.tabc_layout .w2tabcontrol_tabhost{position:absolute;bottom:0;left:0;height:30px}
.tabc_layout .w2tabcontrol_tabhost li{margin-right:4px;border-right:1px solid var(--dw-gray42);background-color:var(--dw-gray42);}
.tabc_layout .w2tabcontrol_tabhost li a{color:var(--dw-white)}
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_center,
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_left,
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_right{background:transparent}
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_center a{top:0px;height:30px;line-height:30px;margin-left:20px;margin-right:20px;font-size:12px;font-weight:600}
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_left{width:0px}
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_right{width:20px}
.tabc_layout .w2tabcontrol_tabhost .w2tabcontrol_tab_right .w2tabcontrol_tab_close{top:0px;height:20px;background:url(/cm/images/contents/tab_close.png) center 6px no-repeat}
.tabc_layout .w2tabcontrol_tabhost li.w2tabcontrol_active .w2tabcontrol_tab_right .w2tabcontrol_tab_close {background:url(/cm/images/contents/tab_close_active.png) center 6px no-repeat}
.tabc_layout .w2tabcontrol_tabhost li.w2tabcontrol_active{background-color:var(--dw-white);z-index:100;border-bottom-color:var(--dw-white)}
.tabc_layout .w2tabcontrol_tabhost li.w2tabcontrol_active a{color:var(--dw-black)}
.tabc_layout .w2tabcontrol_container{position:absolute;left:0;right:0;top:30px;bottom:0;border:0px;height:auto !important;background:transparent;}
.tabc_layout .w2tabcontrol_contents_wrapper.w2tabcontrol_contents_wrapper_selected{height:100% !important;}
.w2table_tabControl{left:auto !important;right:7px}
.tab_allclose{position:absolute;right:46px;top:0;width:30px;height:30px;margin-right:0px;background:var(--dw-color-green2) url(/cm/images/contents/btn_tab_allclose.png) center no-repeat;text-indent:-9999px;}
.tabc_layout.w2tab_adaptive_layout .w2tabcontrol_contents_wrapper.w2tabcontrol_contents_wrapper_selected {margin-top:0; padding-top:15px 0 20px 10px}
.w2table_tabControl {background-color:var(--dw-white);outline:1px solid var(--dw-gray10); border:none; border-radius:10px;right:25px;margin-top:8px;padding:5px;}
.w2table_tabControl .w2table_tabControl_main {background-color: transparent;margin:5px}
.w2table_tabControl .w2table_tabControl_col {background-color:var(--dw-white);border-top:none;background:none;position: relative;padding-left:15px;}
.w2table_tabControl .w2table_tabControl_col::before {content: '';position: absolute;left:8px;top:12px;width: 3px;height: 3px;border-radius: 50%;background:var(--dw-gray55);}
.w2table_tabControl .w2table_tabControl_col_over {background-color:var(--dw-color-skyblue3); color:var(--dw-color-blue2);}
.w2table_tabControl .w2tabcontrol_tab_list_close_button {right:3px;background-image: url(/cm/images/base/ico_close_16.png) ;}
.w2table_tabControl .w2tabcontrol_tab_list_close_button:hover {background-image: url(/cm/images/base/ico_close_16.png) ;}

/* page samlpe */
.sample_box{overflow:hidden;}
.pageWrap{overflow:hidden;margin-top:-30px;margin-left:-20px}
.pageWrap .item{float:left;margin:30px 20px 0 20px;text-align:center;list-style:none}
.pageWrap .item a{text-indent:-9999em;}
.pageWrap .item a{display:block;width:156px;height:149px;background-repeat:no-repeat;background-position:0 0;margin:0 auto}
.pageWrap .item a.searchGrid{background-image:url(../..//cm/images/contents/img_searchGrid.png)}
.pageWrap .item a.searchGrid:hover{background-image:url(../..//cm/images/contents/img_searchGrid_hover.png)}
.pageWrap .item a.searchTable{background-image:url(../..//cm/images/contents/img_searchTable.png)}
.pageWrap .item a.searchTable:hover{background-image:url(../..//cm/images/contents/img_searchTable_hover.png)}
.pageWrap .item a.searchTableGrid{background-image:url(../..//cm/images/contents/img_searchTableGrid.png)}
.pageWrap .item a.searchTableGrid:hover{background-image:url(../..//cm/images/contents/img_searchTableGrid_hover.png)}
.pageWrap .item a.searchTab{background-image:url(../..//cm/images/contents/img_searchTab.png)}
.pageWrap .item a.searchTab:hover{background-image:url(../..//cm/images/contents/img_searchTab_hover.png)}
.pageWrap .item a.searchMultiGrid{background-image:url(../..//cm/images/contents/img_searchMultiGrid.png)}
.pageWrap .item a.searchMultiGrid:hover{background-image:url(../..//cm/images/contents/img_searchMultiGrid_hover.png)}
.pageWrap .item a.searchTableTab{background-image:url(../..//cm/images/contents/img_searchTableTab.png)}
.pageWrap .item a.searchTableTab:hover{background-image:url(../..//cm/images/contents/img_searchTableTab_hover.png)}
.pageWrap .item a.treeGrid{background-image:url(../..//cm/images/contents/img_treeGrid.png)}
.pageWrap .item a.treeGrid:hover{background-image:url(../..//cm/images/contents/img_treeGrid_hover.png)}
.pageWrap .item a.hShuttleGrid{background-image:url(../..//cm/images/contents/img_hShuttleGrid.png)}
.pageWrap .item a.hShuttleGrid:hover{background-image:url(../..//cm/images/contents/img_hShuttleGrid_hover.png)}
.pageWrap .item a.vShuttleGrid{background-image:url(../..//cm/images/contents/img_vShuttleGrid.png)}
.pageWrap .item a.vShuttleGrid:hover{background-image:url(../..//cm/images/contents/img_vShuttleGrid_hover.png)}
.pageWrap .item a.popupGrid{background-image:url(../..//cm/images/contents/img_popupGrid.png)}
.pageWrap .item a.popupGrid:hover{background-image:url(../..//cm/images/contents/img_popupGrid_hover.png)}
.pageWrap .item a.popupAlert{background-image:url(../..//cm/images/contents/img_popupAlert.png)}
.pageWrap .item a.popupAlert:hover{background-image:url(../..//cm/images/contents/img_popupAlert_hover.png)}
.pageWrap .item a.hShuttleTree{background-image:url(../..//cm/images/contents/img_hShuttleTree.png)}
.pageWrap .item a.hShuttleTree:hover{background-image:url(../..//cm/images/contents/img_hShuttleTree_hover.png)}
.pageWrap .item a.accordion{background-image:url(../..//cm/images/contents/img_accordion.png)}
.pageWrap .item a.accordion:hover{background-image:url(../..//cm/images/contents/img_accordion_hover.png)}
.pageWrap .item a.treeMultiGrid{background-image:url(../..//cm/images/contents/img_treeMultiGrid.png)}
.pageWrap .item a.treeMultiGrid:hover{background-image:url(../..//cm/images/contents/img_treeMultiGrid_hover.png)}
.pageWrap .item a.calendar{background-image:url(../..//cm/images/contents/img_calendar.png)}
.pageWrap .item a.calendar:hover{background-image:url(../..//cm/images/contents/img_calendar_hover.png)}
.pageWrap .item a.chat{background-image:url(../..//cm/images/contents/img_chat.png)}
.pageWrap .item a.chat:hover{background-image:url(../..//cm/images/contents/img_chat_hover.png)}
.pageWrap .item a.login{background-image:url(../..//cm/images/contents/img_login.png)}
.pageWrap .item a.login:hover{background-image:url(../..//cm/images/contents/img_login_hover.png)}
.pageWrap .item a.slideBanner{background-image:url(../..//cm/images/contents/img_slideBanner.png)}
.pageWrap .item a.slideBanner:hover{background-image:url(../..//cm/images/contents/img_slideBanner_hover.png)}
.pageWrap .item a.stepTable{background-image:url(../..//cm/images/contents/img_stepTable.png)}
.pageWrap .item a.stepTable:hover{background-image:url(../..//cm/images/contents/img_stepTable_hover.png)}
.pageWrap .item a.searchMultiChart{background-image:url(../..//cm/images/contents/img_searchMultiChart.png)}
.pageWrap .item a.searchMultiChart:hover{background-image:url(../..//cm/images/contents/img_searchMultiChart_hover.png)}

.shadowbox{position:relative;height:100%;border:1px solid var(--dw-gray23);border-radius:10px;box-sizing:border-box;background:var(--dw-white);box-shadow:1px 1px 10px rgb(30 32 37 / 12%);padding:32px 39px;}

/* 기타박스 */
.etcbox {position:relative;margin:0 0 8px;width:100%;min-height:14px;}
.msbox {position:relative;margin:0 0 16px;width:100%;min-height:14px;}
.msbox >.w2textarea {background:var(--dw-gray26);text-align:center; font-weight:bold;}
.round-box{display:flex;flex-direction: column;border-radius:var(--dw-rd-1);padding:20px;box-sizing: border-box;flex: auto;}
.round-box-2{border-radius:var(--dw-rd-2);padding:14px}
[class*="round-box"]{background:var(--dw-white) !important;}
.border{border:1px solid var(--dw-gray3)}
.round-box.mw1 {min-width:1370px}

/* table */
.tb .w2tb_th span.th_pt {height:19px;line-height:19px;background:var(--dw-gray14);padding:0 6px;margin:2px 5px 2px 0;border-radius:3px;color:var(--dw-white);}
.tb .w2tb_th span.th_txt {line-height:19px;padding:0 6px;margin:2px 5px 2px 0;color:var(--dw-gray56);}

/* login */
.login_wrap.type2{background:var(--dw-gray57) url(../../cm/images/base/bg_w.png) no-repeat center center / cover}
.login_wrap.type2 .login_container .login_contents {margin-top:30px;}
.login_wrap.type2 .login_container .login_contents ul li .btn_login:active{background-color:var(--dw-color-red2); border-color:var(--dw-color-red2);}
.login_wrap.type2 .login_bg{background:url(../..//cm/images/base/img_wlogo2.png) no-repeat 50% 50% ; width:110px;height:96px;    margin:auto;background-size:cover;}

/*shattle*/
.shattle {display: flex;justify-content: center; gap: 6px; margin:16px 0;}
.shattle.flex-row {align-items: center;}
.half .shattle{flex-direction:column;}
/* flex그리드 최소높이값 적용 */
.flex_gvw{height:auto;min-height:100%;}
.flex_gvw .wq_flx{min-height:auto;} /* 기본최소높이 */

.flex_gvw .wq_flx.row1{min-height:56px;} /* 최소높이 1Row */
.flex_gvw .wq_flx.row2{min-height:83px;} /* 최소높이 2Row */
.flex_gvw .wq_flx.row3{min-height:110px;} /* 최소높이 3Row */
.flex_gvw .wq_flx.row4{min-height:137px;} /* 최소높이 4Row */
.flex_gvw .wq_flx.row5{min-height:164px;} /* 최소높이 5Row */
.flex_gvw .wq_flx.row6{min-height:191px;} /* 최소높이 6Row */
.flex_gvw .wq_flx.row7{min-height:218px;} /* 최소높이 7Row */
.flex_gvw .wq_flx.row8{min-height:245px;} /* 최소높이 8Row */
.flex_gvw .wq_flx.row9{min-height:272px;} /* 최소높이 9Row */
.flex_gvw .wq_flx.row10{min-height:299px;} /* 최소높이 10Row */

/*개인화팝업*/
.user-filter {outline:1px solid var(--dw-gray10);width:250px; border-radius:10px; box-sizing:border-box;background: var(--dw-white) !important;margin-top: 15px;right:2px;}
.user-filter .user-hd   {border-bottom:1px solid var(--dw-gray5);display: flex;justify-content: space-between;align-items: center;height:36px;padding:0 12px; box-sizing:border-box;}
.user-filter .user-cont {padding:12px; box-sizing:border-box;overflow: auto; height:140px;}
.user-filter .user-bottom {padding:12px;border-top:1px solid var(--dw-gray5);background:var(--dw-gray1);height:38px; box-sizing:border-box;display: flex;justify-content: flex-end; align-items: center;gap: 4px;}
.ch-fiter.w2checkbox .w2checkbox_item {position:relative;display:flex;padding-left:20px;align-items:center}

/*grid 벳지*/
.bedge-grp{display:flex;flex-direction:row;gap:var(--dw-spacer-3);color:var(--dw-font-gray)}
.bedge-grp >[class*='bd-']:before{content:'';width:10px;height:10px;border-radius:50%;position:absolute;left:0;top:50%;transform:translateY(-50%);background:var(--dw-gray10);}
.bedge-grp >.bd-ready::before{background:var(--dw-gray10) !important;}
.bedge-grp >.bd-progress::before{background:var(--dw-color-blue1) !important;}
.bedge-grp >.bd-compleate::before{background:var(--dw-color-red1) !important;}
.bedge-grp >[class*='bd-']{position: relative;padding-left:14px}
.grid-wrap .bedge-ready{background:var(--dw-gray10) !important;}
.grid-wrap .bedge-progress{background:var(--dw-color-blue1) !important;}
.grid-wrap .bedge-compleate{background:var(--dw-color-red1) !important;}

/* 리스트타입 */
.list-type {border:1px solid va(--dw-gray34);box-sizing:border-box;padding:5px 10px;}
.list-type li {border-bottom:1px solid var(--dw-gray34);box-sizing:border-box;padding: 8px;}
.list-type li:last-child {border-bottom:0;}

.title-wrap + .gvwbox,
.title-wrap + .tbbox,
.title-wrap + .tvw-wrap,
.title-wrap + .lybox,
.title-wrap + .shbox,
.title-wrap + .tabbox,
.title-wrap + .ozWrap,
.btnbox + .btnbox {margin-top:8px;}

.round-box + .shbox {margin-top: 12px;}

.gvwbox + .title-wrap,
.gvwbox + .gvwbox,
.gvwbox + .btnbox,
.gvwbox + .tbbox,
.gvwbox + .lybox,
.tbbox + .gvwbox,
.tbbox + .tbbox,
.tabbox + .tbbox,
.tabbox + .btnbox,
.tbbox + .btnbox,
.tbbox + .tabbox,
.tbbox + .row-gap-8,
.tbbox + .file-wrap,
.lybox + .lybox,
.lybox + .row-gap-8,
.lybox + .tbbox,
.row-gap-8 + .lybox,
.tbbox + .lybox,
.btnbox + .lybox,
.lybox + .btnbox,
.row-gap-8 + .btnbox,
.btnbox + .row-gap-8,
.tabbox + .lybox,
.lybox + .shbox,
.lybox + .tabbox,
.tbbox + .shbox,
.btnbox + .shbox,
.btnbox + .tabbox,
.tbbox + .btnbox,
.file-wrap + .btnbox,
.btnbox + .file-wrap,
.lybox + [class*="row-gap-"],
.btnbox + [class*="row-gap-"],
.tabbox + [class*="row-gap-"],
[class*="row-gap-"] + .shbox,
[class*="row-gap-"] + .file-wrap:not(.col),
[class*="row-gap-"] + .tabbox,
.file-wrap:not(.col) + [class*="row-gap-"],
.info-box + .btnbox {margin-top:16px;}

.div_bar {display:inline-block;position:relative;width:7px;height:24px}
.div_bar::before {content:'';position:absolute;top:calc(50% - 8px);left:3px;width:1px;height:16px;background-color:#858992}
.grp_excel {display:inline-flex;align-items:center;gap:var(--dw-spacer-2);position:relative;padding:0 5px;border:1px solid #858992;border-top:0;border-bottom:0;border-radius:6px;box-sizing:border-box}
.img_ofy {overflow-y:auto;height:234px}

.link_list li {display:flex;align-items:center}
.link_list li > * + * {margin-left:6px}
.link_list li+ li {margin-top:8px}
.link_list.t2 li a {padding-left:16px;background:url(../../cm/images/base/btn_file.png) no-repeat 0 50%;color:var(--dw-color-blue)}

/* @Exceldonwload 소계@ */
.excelSubtotalRight {text-align: right;}
.excelSubtotalLeft {text-align: left;}
